{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Registrieren sie sich</h1>
        {% if message is not empty %}
            <div class="alert alert-success" role="alert">
                <p>{{ message }}</p>
            </div>
        {% endif %}
        <br>
        <div class="container">
            {{ form(registrationForm) }}
        </div>
    </div>
{% endblock %}