{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb-5">{{ task.title }}</h1>
    <div class="container">
        <p>{{ task.description }}</p>
        <p>{{ task.targetDate |date("Y.m.d")}}</p>
        <p>{{ task.editor }}</p>
        <p>{{ task.creator }}</p>
        <p>{{ task.state }}</p>
    </div>
{% endblock %}
