{% extends 'base.html.twig' %}

{% block body %}
        <h1>Neues TODO hinzufügen</h1>
        {% if message is not empty %}
            <div class="alert alert-success" role="alert">
                <p>{{ message }}</p>
            </div>
        {% endif %}
        <br>
        <div class="container">
            {{ form(taskForm) }}
        </div>

{% endblock %}
