{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb-5">Übersicht über alle offenen Todos</h1>
    {{ form(searchForm) }}
    {{ form(filterOptionForm) }}
    <div class="container">
        <table class="table table-striped mt-3">
            <thead>
            <tr>
                <th scope="col"><a href="{{ path('task.showTasks', {field: orderFields.field1}) }}"> Titel </a></th>
                <th scope="col"><a href="{{ path('task.showTasks', {field: orderFields.field2}) }}">Bearbeiter</a></th>
                <th scope="col"><a href="{{ path('task.showTasks', {field: orderFields.field3}) }}"> Ersteller </a></th>
                <th scope="col"><a href="{{ path('task.showTasks', {field: orderFields.field4}) }}"> Status </a></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <th scope="col">{{ task.title }}</th>
                    <th scope="col">{{ task.editor }}</th>
                    <th scope="col">{{ task.creator }}</th>
                    <th scope="col">{{ task.state }}</th>
                    <th scope="col"><a href="/todo/{{ task.title }}" class="btn btn-warning">details</a></th>
                    <th scope="col"><a href="/todo/bearbeiten/{{ task.title }}" class="btn btn-warning">bearbeiten</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
