<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Aufgabenverwaltung{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
              crossorigin="anonymous">
    {% endblock %}

    {% block javascripts %}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                crossorigin="anonymous"></script>
    {% endblock %}
</head>
<header>
    <div class="container mb-2">
    <ul class="nav mb-4">
        {% if isLogged|default(false) %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('task.showTasks') }}">Übersicht</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('task.addTask') }}">Todo hinzufügen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('addUser') }}">Registrieren</a>
            </li>
        {% endif %}
    </ul>
    </div>
</header>
<body>
<div class="container">
    {% block body %}
    {% endblock %}
</div>

</body>
</html>
